.header{
    background-color: var(--second-color);
    color: var(--main-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15;
}
.container{
    width: 75%;
    margin: 40 auto;
}
.contenedor-tab{
    width: 100%;
    padding: 10 15;
    background-color: #fff;
    border: 2px solid #e4e4e7;
    border-radius: 10px;
    margin: 10 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.page-table{
    width: 100%;
    background-color: #fff;
    padding: 10 15;
    border: 2px solid #e4e4e7;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.page-table h3, .page-table p{
    margin: 7 5;
}
.tab-page{
    display: none;
    width: 100%;
}
.tab-page:first-child{
    display: block;
}



/* 
* Estilo para el fondo del modal *
*/
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro transparente */
}

/* Contenido del modal */
.modal-content {
    position: relative;
    background-color: #fff;
    margin: 2% auto; /* Centrado vertical */
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
}

/* Botón de cerrar modal */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}